# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
./node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode

node_modules/core-js-pure/features/typed-array/find.js
node_modules/core-js-pure/features/typed-array/float32-array.js
node_modules/core-js-pure/features/typed-array/float64-array.js
node_modules/core-js-pure/features/typed-array/for-each.js
node_modules/core-js-pure/features/typed-array/from-async.js
node_modules/core-js-pure/features/typed-array/from.js
node_modules/core-js-pure/features/typed-array/group-by.js
node_modules/core-js-pure/features/typed-array/includes.js
node_modules/core-js-pure/features/typed-array/index-of.js
node_modules/core-js-pure/features/typed-array/index.js
node_modules/core-js-pure/features/typed-array/int16-array.js
node_modules/core-js-pure/features/typed-array/int32-array.js
node_modules/core-js-pure/features/typed-array/int8-array.js
node_modules/core-js-pure/features/typed-array/iterator.js
node_modules/core-js-pure/features/typed-array/join.js
node_modules/core-js-pure/features/typed-array/keys.js
node_modules/core-js-pure/features/typed-array/last-index-of.js
node_modules/core-js-pure/features/typed-array/map.js
node_modules/core-js-pure/features/typed-array/methods.js
node_modules/core-js-pure/features/typed-array/of.js
node_modules/core-js-pure/features/typed-array/reduce-right.js
node_modules/core-js-pure/features/typed-array/reduce.js
node_modules/core-js-pure/features/typed-array/reverse.js
node_modules/core-js-pure/features/typed-array/set.js
node_modules/core-js-pure/features/typed-array/slice.js
node_modules/core-js-pure/features/typed-array/some.js
node_modules/core-js-pure/features/typed-array/sort.js
node_modules/core-js-pure/features/typed-array/subarray.js
node_modules/core-js-pure/features/typed-array/to-locale-string.js
node_modules/core-js-pure/features/typed-array/to-reversed.js
node_modules/core-js-pure/features/typed-array/to-sorted.js
node_modules/core-js-pure/features/typed-array/to-spliced.js
node_modules/core-js-pure/features/typed-array/to-string.js
node_modules/core-js-pure/features/typed-array/uint16-array.js
node_modules/core-js-pure/features/typed-array/uint32-array.js
node_modules/core-js-pure/features/typed-array/uint8-array.js
node_modules/core-js-pure/features/typed-array/uint8-clamped-array.js
node_modules/core-js-pure/features/typed-array/unique-by.js
node_modules/core-js-pure/features/typed-array/values.js
node_modules/core-js-pure/features/typed-array/with.js
node_modules/core-js-pure/features/unescape.js
node_modules/core-js-pure/features/url-search-params/
node_modules/core-js-pure/features/url/
node_modules/core-js-pure/features/weak-map/
node_modules/core-js-pure/features/weak-set/
node_modules/core-js-pure/index.js
node_modules/core-js-pure/internals/
node_modules/core-js-pure/modules/
node_modules/core-js-pure/package.json
node_modules/core-js-pure/postinstall.js
node_modules/core-js-pure/proposals/
node_modules/core-js-pure/stable/
node_modules/core-js-pure/stage/
node_modules/core-js-pure/web/
node_modules/core-js/
node_modules/core-util-is/
node_modules/cosmiconfig/
node_modules/cross-spawn/
node_modules/crypto-random-string/
node_modules/css-blank-pseudo/
node_modules/css-declaration-sorter/
node_modules/css-has-pseudo/
node_modules/css-loader/
node_modules/css-minimizer-webpack-plugin/
node_modules/css-prefers-color-scheme/
node_modules/css-select-base-adapter/
node_modules/css-select/
node_modules/css-tree/
node_modules/css-what/
node_modules/css.escape/
node_modules/css/
node_modules/cssdb/
node_modules/cssesc/
node_modules/cssnano-preset-default/
node_modules/cssnano-utils/
node_modules/cssnano/
node_modules/csso/
node_modules/cssom/
node_modules/cssstyle/
node_modules/csstype/
node_modules/damerau-levenshtein/
node_modules/data-urls/
node_modules/debug/
node_modules/decimal.js/
node_modules/decode-uri-component/
node_modules/dedent/
node_modules/deep-equal/
node_modules/deep-is/
node_modules/deepmerge/
node_modules/default-gateway/
node_modules/define-lazy-prop/
node_modules/define-properties/
node_modules/defined/
node_modules/del/
node_modules/delayed-stream/
node_modules/depd/
node_modules/destroy/
node_modules/detect-newline/
node_modules/detect-node/
node_modules/detect-port-alt/
node_modules/detective/
node_modules/didyoumean/
node_modules/diff-sequences/
node_modules/dir-glob/
node_modules/dlv/
node_modules/dns-equal/
node_modules/dns-packet/
node_modules/dns-txt/
node_modules/doctrine/
node_modules/dom-accessibility-api/
node_modules/dom-converter/
node_modules/dom-serializer/
node_modules/domelementtype/
node_modules/domexception/
node_modules/domhandler/
node_modules/domutils/
node_modules/dot-case/
node_modules/dotenv-expand/
node_modules/dotenv/
node_modules/duplexer/
node_modules/ee-first/
node_modules/ejs/
node_modules/electron-to-chromium/
node_modules/emittery/
node_modules/emoji-regex/
node_modules/emojis-list/
node_modules/encodeurl/
node_modules/enhanced-resolve/
node_modules/entities/
node_modules/error-ex/
node_modules/error-stack-parser/
node_modules/es-abstract/
node_modules/es-module-lexer/
node_modules/es-to-primitive/
node_modules/escalade/
node_modules/escape-html/
node_modules/escape-string-regexp/
node_modules/escodegen/
node_modules/eslint-config-react-app/
node_modules/eslint-import-resolver-node/
node_modules/eslint-module-utils/
node_modules/eslint-plugin-flowtype/
node_modules/eslint-plugin-import/
node_modules/eslint-plugin-jest/
node_modules/eslint-plugin-jsx-a11y/
node_modules/eslint-plugin-react-hooks/
node_modules/eslint-plugin-react/
node_modules/eslint-plugin-testing-library/
node_modules/eslint-scope/
node_modules/eslint-utils/
node_modules/eslint-visitor-keys/
node_modules/eslint-webpack-plugin/
node_modules/eslint/
node_modules/espree/
node_modules/esprima/
node_modules/esquery/
node_modules/esrecurse/
node_modules/estraverse/
node_modules/estree-walker/
node_modules/esutils/
node_modules/etag/
node_modules/eventemitter3/
node_modules/events/
node_modules/execa/
node_modules/exit/
node_modules/expect/
node_modules/express/
node_modules/fast-deep-equal/
node_modules/fast-glob/
node_modules/fast-json-stable-stringify/
node_modules/fast-levenshtein/
node_modules/fastq/
node_modules/faye-websocket/
node_modules/fb-watchman/
node_modules/file-entry-cache/
node_modules/file-loader/
node_modules/filelist/
node_modules/filesize/
node_modules/fill-range/
node_modules/finalhandler/
node_modules/find-cache-dir/
node_modules/find-up/
node_modules/flat-cache/
node_modules/flatted/
node_modules/follow-redirects/
node_modules/fork-ts-checker-webpack-plugin/
node_modules/form-data/
node_modules/forwarded/
node_modules/fraction.js/
node_modules/fresh/
node_modules/fs-extra/
node_modules/fs-monkey/
node_modules/fs.realpath/
node_modules/function-bind/
node_modules/functional-red-black-tree/
node_modules/gensync/
node_modules/get-caller-file/
node_modules/get-intrinsic/
node_modules/get-own-enumerable-property-symbols/
node_modules/get-package-type/
node_modules/get-stream/
node_modules/get-symbol-description/
node_modules/glob-parent/
node_modules/glob-to-regexp/
node_modules/glob/
node_modules/global-modules/
node_modules/global-prefix/
node_modules/globals/
node_modules/globby/
node_modules/graceful-fs/
node_modules/gzip-size/
node_modules/handle-thing/
node_modules/harmony-reflect/
node_modules/has-bigints/
node_modules/has-flag/
node_modules/has-symbols/
node_modules/has-tostringtag/
node_modules/has/
node_modules/he/
node_modules/hoopy/
node_modules/hpack.js/
node_modules/html-encoding-sniffer/
node_modules/html-entities/
node_modules/html-escaper/
node_modules/html-minifier-terser/
node_modules/html-webpack-plugin/
node_modules/htmlparser2/
node_modules/http-deceiver/
node_modules/http-errors/
node_modules/http-parser-js/
node_modules/http-proxy-agent/
node_modules/http-proxy-middleware/
node_modules/http-proxy/
node_modules/https-proxy-agent/
node_modules/human-signals/
node_modules/iconv-lite/
node_modules/icss-utils/
node_modules/idb/
node_modules/identity-obj-proxy/
node_modules/ignore/
node_modules/immer/
node_modules/import-fresh/
node_modules/import-local/
node_modules/imurmurhash/
node_modules/indent-string/
node_modules/inflight/
node_modules/inherits/
node_modules/ini/
node_modules/internal-slot/
node_modules/ip/
node_modules/ipaddr.js/
node_modules/is-arguments/
node_modules/is-arrayish/
node_modules/is-bigint/
node_modules/is-binary-path/
node_modules/is-boolean-object/
node_modules/is-callable/
node_modules/is-core-module/
node_modules/is-date-object/
node_modules/is-docker/
node_modules/is-extglob/
node_modules/is-fullwidth-code-point/
node_modules/is-generator-fn/
node_modules/is-glob/
node_modules/is-module/
node_modules/is-negative-zero/
node_modules/is-number-object/
node_modules/is-number/
node_modules/is-obj/
node_modules/is-path-cwd/
node_modules/is-path-inside/
node_modules/is-plain-obj/
node_modules/is-potential-custom-element-name/
node_modules/is-regex/
node_modules/is-regexp/
node_modules/is-root/
node_modules/is-shared-array-buffer/
node_modules/is-stream/
node_modules/is-string/
node_modules/is-symbol/
node_modules/is-typedarray/
node_modules/is-weakref/
node_modules/is-wsl/
node_modules/isarray/
node_modules/isexe/
node_modules/istanbul-lib-coverage/
node_modules/istanbul-lib-instrument/
node_modules/istanbul-lib-report/
node_modules/istanbul-lib-source-maps/
node_modules/istanbul-reports/
node_modules/jake/
node_modules/jest-changed-files/
node_modules/jest-circus/
node_modules/jest-cli/
node_modules/jest-config/
node_modules/jest-diff/
node_modules/jest-docblock/
node_modules/jest-each/
node_modules/jest-environment-jsdom/
node_modules/jest-environment-node/
node_modules/jest-get-type/
node_modules/jest-haste-map/
node_modules/jest-jasmine2/
node_modules/jest-leak-detector/
node_modules/jest-matcher-utils/
node_modules/jest-message-util/
node_modules/jest-mock/
node_modules/jest-pnp-resolver/
node_modules/jest-regex-util/
node_modules/jest-resolve-dependencies/
node_modules/jest-resolve/
node_modules/jest-runner/
node_modules/jest-runtime/
node_modules/jest-serializer/
node_modules/jest-snapshot/
node_modules/jest-util/
node_modules/jest-validate/
node_modules/jest-watch-typeahead/
node_modules/jest-watcher/
node_modules/jest-worker/
node_modules/jest/
node_modules/js-tokens/
node_modules/js-yaml/
node_modules/jsdom/
node_modules/jsesc/
node_modules/json-parse-better-errors/
node_modules/json-parse-even-better-errors/
node_modules/json-schema-traverse/
node_modules/json-schema/
node_modules/json-stable-stringify-without-jsonify/
node_modules/json5/
node_modules/jsonfile/
node_modules/jsonpointer/
node_modules/jsx-ast-utils/
node_modules/kind-of/
node_modules/kleur/
node_modules/klona/
node_modules/language-subtag-registry/
node_modules/language-tags/
node_modules/leven/
node_modules/levn/
node_modules/lilconfig/
node_modules/lines-and-columns/
node_modules/loader-runner/
node_modules/loader-utils/
node_modules/locate-path/
node_modules/lodash.debounce/
node_modules/lodash.memoize/
node_modules/lodash.merge/
node_modules/lodash.sortby/
node_modules/lodash.uniq/
node_modules/lodash/
node_modules/loose-envify/
node_modules/lower-case/
node_modules/lru-cache/
node_modules/lz-string/
node_modules/magic-string/
node_modules/make-dir/
node_modules/makeerror/
node_modules/mdn-data/
node_modules/media-typer/
node_modules/memfs/
node_modules/merge-descriptors/
node_modules/merge-stream/
node_modules/merge2/
node_modules/methods/
node_modules/micromatch/
node_modules/mime-db/
node_modules/mime-types/
node_modules/mime/
node_modules/mimic-fn/
node_modules/min-indent/
node_modules/mini-css-extract-plugin/
node_modules/minimalistic-assert/
node_modules/minimatch/
node_modules/minimist/
node_modules/mkdirp/
node_modules/ms/
node_modules/multicast-dns-service-types/
node_modules/multicast-dns/
node_modules/nanoid/
node_modules/natural-compare/
node_modules/negotiator/
node_modules/neo-async/
node_modules/no-case/
node_modules/node-forge/
node_modules/node-int64/
node_modules/node-releases/
node_modules/normalize-path/
node_modules/normalize-range/
node_modules/normalize-url/
node_modules/npm-run-path/
node_modules/nth-check/
node_modules/nwsapi/
node_modules/object-assign/
node_modules/object-hash/
node_modules/object-inspect/
node_modules/object-is/
node_modules/object-keys/
node_modules/object.assign/
node_modules/object.entries/
node_modules/object.fromentries/
node_modules/object.getownpropertydescriptors/
node_modules/object.hasown/
node_modules/object.values/
node_modules/obuf/
node_modules/on-finished/
node_modules/on-headers/
node_modules/once/
node_modules/onetime/
node_modules/open/
node_modules/optionator/
node_modules/p-limit/
node_modules/p-locate/
node_modules/p-map/
node_modules/p-retry/
node_modules/p-try/
node_modules/param-case/
node_modules/parent-module/
node_modules/parse-json/
node_modules/parse5/
node_modules/parseurl/
node_modules/pascal-case/
node_modules/path-exists/
node_modules/path-is-absolute/
node_modules/path-key/
node_modules/path-parse/
node_modules/path-to-regexp/
node_modules/path-type/
node_modules/performance-now/
node_modules/picocolors/
node_modules/picomatch/
node_modules/pirates/
node_modules/pkg-dir/
node_modules/pkg-up/
node_modules/portfinder/
node_modules/postcss-attribute-case-insensitive/
node_modules/postcss-browser-comments/
node_modules/postcss-calc/
node_modules/postcss-color-functional-notation/
node_modules/postcss-color-hex-alpha/
node_modules/postcss-color-rebeccapurple/
node_modules/postcss-colormin/
node_modules/postcss-convert-values/
node_modules/postcss-custom-media/
node_modules/postcss-custom-properties/
node_modules/postcss-custom-selectors/
node_modules/postcss-dir-pseudo-class/
node_modules/postcss-discard-comments/
node_modules/postcss-discard-duplicates/
node_modules/postcss-discard-empty/
node_modules/postcss-discard-overridden/
node_modules/postcss-double-position-gradients/
node_modules/postcss-env-function/
node_modules/postcss-flexbugs-fixes/
node_modules/postcss-focus-visible/
node_modules/postcss-focus-within/
node_modules/postcss-font-variant/
node_modules/postcss-gap-properties/
node_modules/postcss-image-set-function/
node_modules/postcss-initial/
node_modules/postcss-js/
node_modules/postcss-lab-function/
node_modules/postcss-load-config/
node_modules/postcss-loader/
node_modules/postcss-logical/
node_modules/postcss-media-minmax/
node_modules/postcss-merge-longhand/
node_modules/postcss-merge-rules/
node_modules/postcss-minify-font-values/
node_modules/postcss-minify-gradients/
node_modules/postcss-minify-params/
node_modules/postcss-minify-selectors/
node_modules/postcss-modules-extract-imports/
node_modules/postcss-modules-local-by-default/
node_modules/postcss-modules-scope/
node_modules/postcss-modules-values/
node_modules/postcss-nested/
node_modules/postcss-nesting/
node_modules/postcss-normalize-charset/
node_modules/postcss-normalize-display-values/
node_modules/postcss-normalize-positions/
node_modules/postcss-normalize-repeat-style/
node_modules/postcss-normalize-string/
node_modules/postcss-normalize-timing-functions/
node_modules/postcss-normalize-unicode/
node_modules/postcss-normalize-url/
node_modules/postcss-normalize-whitespace/
node_modules/postcss-normalize/
node_modules/postcss-opacity-percentage/
node_modules/postcss-ordered-values/
node_modules/postcss-overflow-shorthand/
node_modules/postcss-page-break/
node_modules/postcss-place/
node_modules/postcss-preset-env/
node_modules/postcss-pseudo-class-any-link/
node_modules/postcss-reduce-initial/
node_modules/postcss-reduce-transforms/
node_modules/postcss-replace-overflow-wrap/
node_modules/postcss-selector-not/
node_modules/postcss-selector-parser/
node_modules/postcss-svgo/
node_modules/postcss-unique-selectors/
node_modules/postcss-value-parser/
node_modules/postcss/
node_modules/prelude-ls/
node_modules/pretty-bytes/
node_modules/pretty-error/
node_modules/pretty-format/
node_modules/process-nextick-args/
node_modules/promise/
node_modules/prompts/
node_modules/prop-types/
node_modules/proxy-addr/
node_modules/psl/
node_modules/punycode/
node_modules/q/
node_modules/qs/
node_modules/queue-microtask/
node_modules/quick-lru/
node_modules/raf/
node_modules/randombytes/
node_modules/range-parser/
node_modules/raw-body/
node_modules/react-app-polyfill/
node_modules/react-dev-utils/
node_modules/react-dom/
node_modules/react-error-overlay/
node_modules/react-is/
node_modules/react-refresh/
node_modules/react-scripts/
node_modules/react/
node_modules/readable-stream/
node_modules/readdirp/
node_modules/recursive-readdir/
node_modules/redent/
node_modules/regenerate-unicode-properties/
node_modules/regenerate/
node_modules/regenerator-runtime/
node_modules/regenerator-transform/
node_modules/regex-parser/
node_modules/regexp.prototype.flags/
node_modules/regexpp/
node_modules/regexpu-core/
node_modules/regjsgen/
node_modules/regjsparser/
node_modules/relateurl/
node_modules/renderkid/
node_modules/require-directory/
node_modules/require-from-string/
node_modules/requires-port/
node_modules/resolve-cwd/
node_modules/resolve-from/
node_modules/resolve-url-loader/
node_modules/resolve.exports/
node_modules/resolve/
node_modules/retry/
node_modules/reusify/
node_modules/rimraf/
node_modules/rollup-plugin-terser/
node_modules/rollup/
node_modules/run-parallel/
node_modules/safe-buffer/
node_modules/safer-buffer/
node_modules/sanitize.css/
node_modules/sass-loader/
node_modules/sax/
node_modules/saxes/
node_modules/scheduler/
node_modules/schema-utils/
node_modules/select-hose/
node_modules/selfsigned/
node_modules/semver/
node_modules/send/
node_modules/serialize-javascript/
node_modules/serve-index/
node_modules/serve-static/
node_modules/setprototypeof/
node_modules/shebang-command/
node_modules/shebang-regex/
node_modules/shell-quote/
node_modules/side-channel/
node_modules/signal-exit/
node_modules/sisteransi/
node_modules/slash/
node_modules/sockjs/
node_modules/source-list-map/
node_modules/source-map-js/
node_modules/source-map-loader/
node_modules/source-map-resolve/
node_modules/source-map-support/
node_modules/source-map/
node_modules/sourcemap-codec/
node_modules/spdy-transport/
node_modules/spdy/
node_modules/sprintf-js/
node_modules/stable/
node_modules/stack-utils/
node_modules/stackframe/
node_modules/statuses/
node_modules/string-length/
node_modules/string-natural-compare/
node_modules/string-width/
node_modules/string.prototype.matchall/
node_modules/string.prototype.trimend/
node_modules/string.prototype.trimstart/
node_modules/string_decoder/
node_modules/stringify-object/
node_modules/strip-ansi/
node_modules/strip-bom/
node_modules/strip-comments/
node_modules/strip-final-newline/
node_modules/strip-indent/
node_modules/strip-json-comments/
node_modules/style-loader/
node_modules/stylehacks/
node_modules/supports-color/
node_modules/supports-hyperlinks/
node_modules/supports-preserve-symlinks-flag/
node_modules/svg-parser/
node_modules/svgo/
node_modules/symbol-tree/
node_modules/tailwindcss/
node_modules/tapable/
node_modules/temp-dir/
node_modules/tempy/
node_modules/terminal-link/
node_modules/terser-webpack-plugin/
node_modules/terser/
node_modules/test-exclude/
node_modules/text-table/
node_modules/throat/
node_modules/thunky/
node_modules/timsort/
node_modules/tmpl/
node_modules/to-fast-properties/
node_modules/to-regex-range/
node_modules/toidentifier/
node_modules/tough-cookie/
node_modules/tr46/
node_modules/tryer/
node_modules/tsconfig-paths/
node_modules/tslib/
node_modules/tsutils/
node_modules/type-check/
node_modules/type-detect/
node_modules/type-fest/
node_modules/type-is/
node_modules/typedarray-to-buffer/
node_modules/typescript/
node_modules/unbox-primitive/
node_modules/unicode-canonical-property-names-ecmascript/
node_modules/unicode-match-property-ecmascript/
node_modules/unicode-match-property-value-ecmascript/
node_modules/unicode-property-aliases-ecmascript/
node_modules/unique-string/
node_modules/universalify/
node_modules/unpipe/
node_modules/unquote/
node_modules/upath/
node_modules/uri-js/
node_modules/util-deprecate/
node_modules/util.promisify/
node_modules/utila/
node_modules/utils-merge/
node_modules/uuid/
node_modules/v8-compile-cache/
node_modules/v8-to-istanbul/
node_modules/vary/
node_modules/w3c-hr-time/
node_modules/w3c-xmlserializer/
node_modules/walker/
node_modules/watchpack/
node_modules/wbuf/
node_modules/web-vitals/
node_modules/webidl-conversions/
node_modules/webpack-dev-middleware/
node_modules/webpack-dev-server/
node_modules/webpack-manifest-plugin/
node_modules/webpack-sources/
node_modules/webpack/
node_modules/websocket-driver/
node_modules/websocket-extensions/
node_modules/whatwg-encoding/
node_modules/whatwg-fetch/
node_modules/whatwg-mimetype/
node_modules/whatwg-url/
node_modules/which-boxed-primitive/
node_modules/which/
node_modules/word-wrap/
node_modules/workbox-background-sync/
node_modules/workbox-broadcast-update/
node_modules/workbox-build/
node_modules/workbox-cacheable-response/
node_modules/workbox-core/
node_modules/workbox-expiration/
node_modules/workbox-google-analytics/
node_modules/workbox-navigation-preload/
node_modules/workbox-precaching/
node_modules/workbox-range-requests/
node_modules/workbox-recipes/
node_modules/workbox-routing/
node_modules/workbox-strategies/
node_modules/workbox-streams/
node_modules/workbox-sw/
node_modules/workbox-webpack-plugin/
node_modules/workbox-window/
node_modules/wrap-ansi/
node_modules/wrappy/
node_modules/write-file-atomic/
node_modules/ws/
node_modules/xml-name-validator/
node_modules/xmlchars/
node_modules/xtend/
node_modules/y18n/
node_modules/yallist/
node_modules/yaml/
node_modules/yargs-parser/
node_modules/yargs/
node_modules/yocto-queue/
.vscode/
webui/.vscode/
webui/node_modules/.bin/
webui/node_modules/.cache/
webui/node_modules/.package-lock.json
webui/node_modules/@ampproject/
webui/node_modules/@babel/
webui/node_modules/@bcoe/
webui/node_modules/@csstools/
webui/node_modules/@eslint/
webui/node_modules/@humanwhocodes/
webui/node_modules/@istanbuljs/
webui/node_modules/@jest/
webui/node_modules/@jridgewell/
webui/node_modules/@nodelib/
webui/node_modules/@pmmmwh/
webui/node_modules/@rollup/
webui/node_modules/@rushstack/
webui/node_modules/@sinonjs/
webui/node_modules/@surma/
webui/node_modules/@svgr/
webui/node_modules/@testing-library/
webui/node_modules/@tootallnate/
webui/node_modules/@trysound/
webui/node_modules/@types/
webui/node_modules/@typescript-eslint/
webui/node_modules/@webassemblyjs/
webui/node_modules/@xtuc/
webui/node_modules/abab/
webui/node_modules/accepts/
webui/node_modules/acorn-globals/
webui/node_modules/acorn-import-assertions/
webui/node_modules/acorn-jsx/
webui/node_modules/acorn-node/
webui/node_modules/acorn-walk/
webui/node_modules/acorn/
webui/node_modules/address/
webui/node_modules/adjust-sourcemap-loader/
webui/node_modules/agent-base/
webui/node_modules/aggregate-error/
webui/node_modules/ajv-formats/
webui/node_modules/ajv-keywords/
webui/node_modules/ajv/
webui/node_modules/ansi-escapes/
webui/node_modules/ansi-html-community/
webui/node_modules/ansi-regex/
webui/node_modules/ansi-styles/
webui/node_modules/anymatch/
webui/node_modules/arg/
webui/node_modules/argparse/
webui/node_modules/aria-query/
webui/node_modules/array-flatten/
webui/node_modules/array-includes/
webui/node_modules/array-union/
webui/node_modules/array.prototype.flat/
webui/node_modules/array.prototype.flatmap/
webui/node_modules/asap/
webui/node_modules/ast-types-flow/
webui/node_modules/async/
webui/node_modules/asynckit/
webui/node_modules/at-least-node/
webui/node_modules/atob/
webui/node_modules/autoprefixer/
webui/node_modules/axe-core/
webui/node_modules/axobject-query/
webui/node_modules/babel-jest/
webui/node_modules/babel-loader/
webui/node_modules/babel-plugin-dynamic-import-node/
webui/node_modules/babel-plugin-istanbul/
webui/node_modules/babel-plugin-jest-hoist/
webui/node_modules/babel-plugin-macros/
webui/node_modules/babel-plugin-named-asset-import/
webui/node_modules/babel-plugin-polyfill-corejs2/
webui/node_modules/babel-plugin-polyfill-corejs3/
webui/node_modules/babel-plugin-polyfill-regenerator/
webui/node_modules/babel-plugin-transform-react-remove-prop-types/
webui/node_modules/babel-preset-current-node-syntax/
webui/node_modules/babel-preset-jest/
webui/node_modules/babel-preset-react-app/
webui/node_modules/balanced-match/
webui/node_modules/batch/
webui/node_modules/bfj/
webui/node_modules/big.js/
webui/node_modules/binary-extensions/
webui/node_modules/bluebird/
webui/node_modules/body-parser/
webui/node_modules/bonjour/
webui/node_modules/boolbase/
webui/node_modules/brace-expansion/
webui/node_modules/braces/
webui/node_modules/browser-process-hrtime/
webui/node_modules/browserslist/
webui/node_modules/bser/
webui/node_modules/buffer-from/
webui/node_modules/buffer-indexof/
webui/node_modules/builtin-modules/
webui/node_modules/bytes/
webui/node_modules/call-bind/
webui/node_modules/callsites/
webui/node_modules/camel-case/
webui/node_modules/camelcase-css/
webui/node_modules/camelcase/
webui/node_modules/caniuse-api/
webui/node_modules/caniuse-lite/
webui/node_modules/case-sensitive-paths-webpack-plugin/
webui/node_modules/chalk/
webui/node_modules/char-regex/
webui/node_modules/charcodes/
webui/node_modules/check-types/
webui/node_modules/chokidar/
webui/node_modules/chrome-trace-event/
webui/node_modules/ci-info/
webui/node_modules/cjs-module-lexer/
webui/node_modules/clean-css/
webui/node_modules/clean-stack/
webui/node_modules/cliui/
webui/node_modules/co/
webui/node_modules/coa/
webui/node_modules/collect-v8-coverage/
webui/node_modules/color-convert/
webui/node_modules/color-name/
webui/node_modules/colord/
webui/node_modules/colorette/
webui/node_modules/combined-stream/
webui/node_modules/commander/
webui/node_modules/common-path-prefix/
webui/node_modules/common-tags/
webui/node_modules/commondir/
webui/node_modules/compressible/
webui/node_modules/compression/
webui/node_modules/concat-map/
webui/node_modules/confusing-browser-globals/
webui/node_modules/connect-history-api-fallback/
webui/node_modules/content-disposition/
webui/node_modules/content-type/
webui/node_modules/convert-source-map/
webui/node_modules/cookie-signature/
webui/node_modules/cookie/
webui/node_modules/core-js-compat/
webui/node_modules/core-js-pure/LICENSE
webui/node_modules/core-js-pure/README.md
webui/node_modules/core-js-pure/actual/
webui/node_modules/core-js-pure/configurator.js
webui/node_modules/core-js-pure/es/
webui/node_modules/core-js-pure/features/README.md
webui/node_modules/core-js-pure/features/aggregate-error.js
webui/node_modules/core-js-pure/features/array-buffer/
webui/node_modules/core-js-pure/features/array/
webui/node_modules/core-js-pure/features/async-iterator/
webui/node_modules/core-js-pure/features/atob.js
webui/node_modules/core-js-pure/features/bigint/
webui/node_modules/core-js-pure/features/btoa.js
webui/node_modules/core-js-pure/features/clear-immediate.js
webui/node_modules/core-js-pure/features/composite-key.js
webui/node_modules/core-js-pure/features/composite-symbol.js
webui/node_modules/core-js-pure/features/data-view/
webui/node_modules/core-js-pure/features/date/
webui/node_modules/core-js-pure/features/dom-collections/
webui/node_modules/core-js-pure/features/dom-exception/
webui/node_modules/core-js-pure/features/error/
webui/node_modules/core-js-pure/features/escape.js
webui/node_modules/core-js-pure/features/function/
webui/node_modules/core-js-pure/features/get-iterator-method.js
webui/node_modules/core-js-pure/features/get-iterator.js
webui/node_modules/core-js-pure/features/global-this.js
webui/node_modules/core-js-pure/features/index.js
webui/node_modules/core-js-pure/features/instance/
webui/node_modules/core-js-pure/features/is-iterable.js
webui/node_modules/core-js-pure/features/iterator/
webui/node_modules/core-js-pure/features/json/
webui/node_modules/core-js-pure/features/map/
webui/node_modules/core-js-pure/features/math/
webui/node_modules/core-js-pure/features/number/
webui/node_modules/core-js-pure/features/object/
webui/node_modules/core-js-pure/features/observable/
webui/node_modules/core-js-pure/features/parse-float.js
webui/node_modules/core-js-pure/features/parse-int.js
webui/node_modules/core-js-pure/features/promise/
webui/node_modules/core-js-pure/features/queue-microtask.js
webui/node_modules/core-js-pure/features/reflect/
webui/node_modules/core-js-pure/features/regexp/
webui/node_modules/core-js-pure/features/set-immediate.js
webui/node_modules/core-js-pure/features/set-interval.js
webui/node_modules/core-js-pure/features/set-timeout.js
webui/node_modules/core-js-pure/features/set/
webui/node_modules/core-js-pure/features/string/
webui/node_modules/core-js-pure/features/structured-clone.js
webui/node_modules/core-js-pure/features/symbol/
webui/node_modules/core-js-pure/features/typed-array/at.js
webui/node_modules/core-js-pure/features/typed-array/copy-within.js
webui/node_modules/core-js-pure/features/typed-array/entries.js
webui/node_modules/core-js-pure/features/typed-array/every.js
webui/node_modules/core-js-pure/features/typed-array/fill.js
webui/node_modules/core-js-pure/features/typed-array/filter-out.js
webui/node_modules/core-js-pure/features/typed-array/filter-reject.js
webui/node_modules/core-js-pure/features/typed-array/filter.js
webui/node_modules/core-js-pure/features/typed-array/find-index.js
webui/node_modules/core-js-pure/features/typed-array/find-last-index.js
webui/node_modules/core-js-pure/features/typed-array/find-last.js
